section.academic {
	display: flex;
	flex-direction: column;
	background: var(--fondo3);
}
h2.academic__title {
	text-align: center;
}
div.academic__courses {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin-left: 4rem;
	margin-right: 4rem;
}

div.academic__courses__box {
	display: flex;
	/*width: 40%;*/
}

ul.academic__courses__list {
	justify-content: center;
	padding: 0;
}
li.academic__courses__item__img {
	display: flex;
	width: 20rem;
	height: 12rem;
	background-color: rgb(245, 245, 245);
	justify-content: center;
	justify-content: space-around;
	align-items: center;
}
@media (max-width: 768px) {
	div.academic__courses {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}

@media (max-width: 425px) {
	div.academic__courses {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
	div.academic__courses__box {
		width: 100vw;
		flex-direction: column;
	}
	li.academic__courses__item__img {
		width: 100%;
		align-items: center;
	}
}
