section.experience {
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	/*margin-left: 4rem;
	margin-right: 4rem;
	align-items: center;*/
	background: var(--fondo2);
}

h2.experience__section__title {
	text-align: center;
}
div.experiencie__box {
	display: flex;
	margin-left: 4rem;
	margin-right: 4rem;
	padding-bottom: 4rem;
	align-items: center;
	justify-content: space-between;
	/*width: 100%;*/
}

div.experiencie__box:nth-child(2n + 1) {
	flex-direction: row-reverse;
}

div.experience__info {
	padding-left: 1rem;
}

button.experiencia__boton--repo {
	background-color: rgb(245, 245, 245);
	color: rgb(42, 122, 228);
	border: solid rgb(42, 122, 228);
	border-width: 2px;
	width: 6rem;
	height: 2.5rem;
	margin-bottom: 0.5rem;
}

button.experience__boton--demo {
	background-color: rgb(42, 122, 228);
	color: white;
	border: solid rgb(42, 122, 228);
	border-width: 2px;
	width: 6rem;
	height: 2.5rem;
}

h3.experience__title {
	width: 95%;
}
/*Contacto*/

.experience__img {
	max-width: 80%;
}

@media (max-width: 768px) {
	div.experiencie__box {
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.experience__img {
		max-width: 100%;
	}
	.experience__img {
		width: 100%;
	}
	div.experiencie__box {
		flex-direction: column;
		align-items: flex-start;
	}
	div.experiencie__box:nth-child(2n + 1) {
		flex-direction: column;
	}
}
@media (max-width: 768px) {
	div.experiencie__box {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}
